/* 공통 스타일  */
*{margin: 0; padding: 0;}
#container{width: 100%; margin: 0 auto;}
ul{list-style: none}
a{text-decoration: none}
/* header 스타일 */
header{width: 100%; height: 100px; background: #0077cc;}
#logo{float: left; width: 30%; height: 100px; line-height: 100px; text-align: left;}
#logo h1{color: #eee; font-size: 1.6em; font-style: italic; padding-left: 10px;}
nav{float: right; width: 70%; height: 100px;}
/* 주메뉴 */
#topMenu{height: 60px; }
#topMenu > li{float: left; position: relative;}
#topMenu > li > a{display: block; color: #eee; padding: 40px 0px 40px 50px;}
#topMenu > li > a:hover{color: #444;}
/* 서브메뉴 */
#topMenu > li > ul{position: absolute; width: 140px;
    background: rgba(246, 248, 213, 0.6); display: none}
#topMenu > li:hover > ul{display: block}
#topMenu > li > ul > li{padding: 10px 30px; text-align: center;}
#topMenu > li > ul > li > a{font-size: 14px; padding: 5px; color: #000;}
#topMenu > li > ul > li > a:hover{color: red;}

/* main 스타일 */
#main-pic img{width: 100%; height: 240px;}
#main{clear: both; width: 100%; margin: 50px 0; text-align: center;}
#main h1{color: blue; font-size: 1.5em; }
#main .main-img img{width: 440px; height: 500px; margin: 30px 0; border-radius: 5px;}

/* footer 스타일 */
footer{height: 80px; border-top: 2px solid #222; text-align: left;}
#bottom-menu{list-style: none; margin: 10px 10px 10px 30px;}
#bottom-menu li{display: inline-block; margin: 10px 0;
    padding: 0 10px; border-right: 1px solid #ccc;}
#bottom-menu li a{color: #444; font-size: 0.9em}
#bottom-menu li:last-child{border: none;}

/* register 스타일 */
#register{width: 400px; margin: 30px auto 100px;}
#register form{margin: 20px auto;}
#register form ul li{margin: 20px;}
#register form ul li:nth-of-type(6){text-align: center; padding-top: 20px;}
#register form label{width: 110px; float: left; text-align: left; padding-left: 20px;}
#register form input[type='text'], input[type='password']{width: 200px; height: 25px;}
#register form input[type='button'], input[type='reset']{width: 80px; height: 30px;}

/* memberlist 스타일 */
#memberlist{width: 450px; margin: 30px auto 100px;}
#memberlist table{width: 450px; margin: 30px auto}
#memberlist table, th, td{border: 1px solid #ccc; border-collapse: collapse;}
#memberlist table th, td{padding: 10px 0; font-size: 0.9em; text-align: center;}
#memberlist thead{background: #eee;}

/* login 스타일 */
#login{width: 400px; margin: 30px auto 100px;}
#login form{margin: 30px auto;}
#login form ul li{margin: 30px;}
#login form ul li:nth-of-type(3){text-align: center; padding-top: 20px;}
#login form label{width: 80px; float: left; padding-left: 20px;}
#login form input[type='text'], input[type='password']{width: 200px; height: 25px;}
#login form input[type='submit']{width: 80px; height: 30px;}
#login .error{color: red; font-weight: bold; margin: 10px; }

/* 태블릿 기준 - 780px 이상 */
@media screen and (min-width: 780px){
    /* header 스타일 */
    #logo h1{color: #eee; font-size: 1.8em; font-style: italic; padding-left: 20px;}
    /* 주메뉴 */
    #topMenu > li > a{display: block; color: #eee; padding: 40px 10px 40px 100px;}
    #topMenu > li > a:hover{color: #444;}
    /* 서브메뉴 */
    #topMenu > li > ul{position: absolute; width: 140px; left: 50px;
        background: rgba(246, 248, 213, 0.6); display: none}

    /* main 스타일 */
    #main-pic img{width: 100%; height: 260px;}
    #main h1{color: blue; font-size: 1.7em; }
    #main .main-img img{width: 500px; height: 550px; margin: 30px 0; border-radius: 5px;}
    /* footer 스타일 */
    #bottom-menu{list-style: none; margin: 10px 10px 10px 50px;}

    /* register 스타일 */
    #register{width: 450px; margin: 30px auto 100px;}
    #register form{margin: 30px auto;}
    #register form ul li{margin: 30px;}
    #register form label{width: 110px; float: left; text-align: left; padding-left: 30px;}

    /* login 스타일 */
    #login{width: 450px; margin: 30px auto 100px;}
    #login form{margin: 30px auto;}
    #login form label{width: 80px; float: left; padding-left: 40px;}

    /* memberlist 스타일 */
    #memberlist{width: 550px; margin: 30px auto 100px;}
    #memberlist table{width: 550px; margin: 30px auto}
    #memberlist table th, td{padding: 10px 0; font-size: 1em; text-align: center;}
}

/* PC 기준 - 1100px 이상 */
@media screen and (min-width: 1100px){
    #container{width: 1100px; margin: 0 auto;}
    /* header 스타일 */
    #logo h1{color: #eee; font-size: 1.9em; font-style: italic; padding-left: 30px;}
    /* 주메뉴 */
    #topMenu > li > a{display: block; color: #eee; padding: 40px 0px 40px 140px;}
    #topMenu > li > a:hover{color: #444;}
    /* 서브메뉴 */
    #topMenu > li > ul{position: absolute; width: 140px; left: 90px;
        background: rgba(246, 248, 213, 0.6); display: none}

    /* main 스타일 */
    #main-pic img{width: 100%; height: 280px;}
    /* register 스타일 */
    #register{width: 500px; margin: 30px auto 100px;}
    #register form label{width: 110px; float: left; text-align: left; padding-left: 40px;}

    /* login 스타일 */
    #login{width: 500px; margin: 30px auto 100px;}
    #login form{margin: 40px auto;}
    #login form ul li{margin: 40px;}
    #login form label{width: 80px; float: left; padding-left: 50px;}

    /* memberlist 스타일 */
    #memberlist{width: 650px; margin: 40px auto 100px;}
    #memberlist table{width: 650px; margin: 30px auto}
}
