<header>
    <div id="logo">
        <h1><a href="{{ url_for('index') }}">Gangnam</a></h1>
    </div>
    <nav>
        <ul id="topMenu">
            {% if session['userid'] %}
            <li><a href="">회원</a>
                <ul>
                    <li><a href="{{ url_for('register') }}">회원가입</a></li>
                    <li><a href="{{ url_for('memberlist') }}">회원목록</a></li>
                </ul>
            </li>
            <li><a href="">게시판</a>
                <ul>
                    <li><a href="{{ url_for('boardlist') }}">글목록</a></li>
                    <li><a href="{{ url_for('writing')}}">글쓰기</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('logout') }}">
                <span class="session">({{ session['userid'] }}님)</span>로그아웃</a>
            {% else %}
            <li><a href="">회원</a>
                <ul>
                    <li><a href="{{ url_for('register') }}">회원가입</a></li>
                    <li><a href="{{ url_for('memberlist') }}">회원목록</a></li>
                </ul>
            </li>
            <li><a href="">게시판</a>
                <ul>
                    <li><a href="{{ url_for('boardlist') }}">글목록</a></li>
                    <li><a href="{{ url_for('writing')}}">글쓰기</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('login') }}">로그인</a>
            {% endif %}
        </ul>
    </nav>
</header>