/* 공통 스타일 */
#container{width: 90%; margin: 30px auto; text-align: center;}
h2{color: blue}
ul{list-style: none}

/* even_odd 스타일 */
#even_odd{width: 460px; margin: 0 auto;}
#even_odd form input[type='text']{width: 200px; height: 25px;}
#even_odd form input[type='submit']{width: 80px; height: 30px;}
#even_odd .error{color: #f00; font-weight: bold;}

/* register 스타일 */
#register{width: 460px; margin: 0 auto;}
#register form ul li{margin: 20px 0;}
#register form label{width: 80px; float: left; text-align: right}
#register form input[type='text'],
    input[type='password']{width: 200px; height: 30px;}
#register form input[type='submit'],
    input[type='reset']{width: 100px; height: 40px;}

/* memberlist 스타일 */
#memberlist table{width: 600px; margin: 0 auto}
#memberlist table, th, td{border: 1px solid #ccc; border-collapse: collapse;}
#memberlist table th, td{padding: 10px 0;}
#memberlist thead{background: #eee;}
